<mat-tab-group style>
  <!--ONGLET D'OBJETS-->
  <mat-tab label="Objet">
    
      <mat-card class="example-card">
          <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Découverte d'objet</mat-card-title>
              <mat-card-subtitle>Animateurs et Modérateurs</mat-card-subtitle>
            </mat-card-header>

            <form class="example-form" (submit)="decouverteObjet()" id="test">
                <mat-form-field class="example-full-width">
                    <input matInput type="number" placeholder="Niveau d'exploration" [(ngModel)]="niveauExplo" name="niveauExplo">
                </mat-form-field>
                <br>Nombre aléatoire : {{randomNumberObjet}}
                <br><button mat-raised-button color="primary" type="submit" value="Submit" style="float:right">DECOUVERTE</button>
                <br><br><br><i>Résultat : {{resultatObjet}}</i>

                <br><mat-card class="rappeltable"><u>RAPPEL : TABLE DE DISTRIBUTION DES OBJETS</u>
                <br><br>• NIV. 0 – Proies comestibles et périmées de 1 et 2 UN ; Objets de 1 et 2 Nims.
                <br>• NIV. 1 – Proies comestibles et périmées de 1 et 2 UN ; Objets de 1 et 2 Nims ; Bonus proies 1UN x2.
                <br>• NIV. 2 – Proies comestibles et périmées de 3 UN ; Objets de 5 Nims ; Bonus de proies 2UN x2.
                <br>• NIV. 3 – Proies comestibles et périmées de 4 UN ; Objets de 5 Nims ; Bonus de +1 stats.
                <br>• NIV. 4 – Proies comestibles et périmées de 5 UN ; Objets de 5 Nims ; Bonus de proies 3UN x2.
                <br>• NIV. 5 – Proies comestibles et périmées de 5 UN ; Objets de 10 Nims.
                <br>• NIV. 6 – Proies comestibles et périmées de 5 UN ; Objets de 20 Nims ; Bonus de +2 stats.
                
                <br><br>• NIV. 7 – Idem Explo6 (aventure 1)
                <br>• NIV. 8 – Bonus de +3 stats (aventure 2)
                <br>• NIV. 9 – Idem Aventure2 (aventure 3)
              
              <br><br><i>Un explorateur a accès à toutes les trouvailles situées en-dessous de son niveau. Par exemple, un aventurier niveau 3 ne gagne pas que des bonus de +3 en statistiques, il peut très bien gagner un bonus de +1 seulement.</i>
            </mat-card>
              
              </form>
              </mat-card>
      </mat-tab>

<!--ONGLET DE DECOUVERTE-->
  <mat-tab label="Découverte"> 
    <mat-card class="example-card">
      <mat-card-header>
          <div mat-card-avatar class="example-header-image2"></div>
          <mat-card-title>Découverte</mat-card-title>
          <mat-card-subtitle>Animateurs et Modérateurs</mat-card-subtitle>
        </mat-card-header>

        <form class="example-form" (submit)="decouverte()" id="test">
            <mat-form-field class="example-full-width">
                <input matInput type="number" placeholder="Niveau d'exploration" [(ngModel)]="niveauExplo" name="niveauExplo">
            </mat-form-field>
            <br>Nombre aléatoire : {{randomNumberDecouverte}}
            <br><button mat-raised-button color="primary" type="submit" value="Submit" style="float:right">DECOUVERTE</button>
            <br><br><br><i>Résultat : {{resultatDecouverte}}</i>

            <br><mat-card class="rappeltable"><u>RAPPEL :</u> En cas de découverte de nouvelle terre, le signaler à un Administrateur qui prendra en charge la modération.</mat-card>
            </form>

    </mat-card> </mat-tab>

<!--ONGLET INTERVENTION ESPRITS-->
  <mat-tab label="Intervention des Esprits"> 
      <mat-card class="example-card">
      <mat-card-header>
          <div mat-card-avatar class="example-header-image3"></div>
          <mat-card-title>Intervention des Esprits</mat-card-title>
          <mat-card-subtitle>Administrateurs uniquement</mat-card-subtitle>
        </mat-card-header>

        <mat-checkbox [(ngModel)]="gueriOuiNon">Guérisseur</mat-checkbox>
        <br><p style="font-size:11px; margin-top:-5px; margin-left:25px;">Cocher si le personnage est guérisseur ou apprenti guérisseur</p>

        <form class="example-form" (submit)="ancetres()" id="test">
            <mat-form-field class="example-full-width">
                <input matInput type="number" placeholder="Valeur jauge karmique" [(ngModel)]="jaugeKarmique" name="jaugeKarmique">
            </mat-form-field>
            <br>Nombre aléatoire : {{randomNumberAncetres}}
            <br><button mat-raised-button color="primary" type="submit" value="Submit" style="float:right">INTERVENTION</button>
            <br><i>Résultat : {{resultatAncetres}}</i>
            </form>
    </mat-card> </mat-tab>
</mat-tab-group>

<button mat-raised-button color="warn" (click)="reset()" style="margin-left:50% !important; margin-right: auto !important; margin-top: 25px">RESET</button>